
label{
    margin-left: 10px;
    display: block;
  }
  
  #nome{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: none;
    box-shadow:0 0 1em rgb(45, 53, 97);
    transition: transform 0.5s;
  }
  #nome:hover {
    transform: scale(1.2);
  }